.third_section {
	padding: 150px 200px;

	.img_container {
		width: calc(100% - 40px);
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.content {
		text-align: center;
		padding: 30px;

		h4 {
			font-size: 40px;
			font-weight: bold;
		}

		p {
			padding-top: 20px;
			font-size: 20px;
			word-spacing: 2px;
		}
	}
}

@include desktop-screen {
	.third_section {
		padding: 150px 100px;
	}
}
@include tablet-screen {
	.third_section {
		padding: 100px 50px;

		.content {
			padding: 30px;

			h4 {
				font-size: 30px;
			}

			p {
				font-size: 16px;
				word-spacing: 1px;
			}
		}
	}
}
