@font-face {
	font-family: 'Myriad Pro';
	src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
	font-family: 'Mesquite Std';
	src: local('Mesquite Std'), url('MesquiteStd.otf') format('otf');
}
